<?xml version="1.0"?>
<launch>
    <include file="$(find llama_pkg)/launch/base.launch" />
    <!-- <include file="$(find llama_pkg)/launch/hector_mapping.launch" /> -->
    <!-- <include file="$(find llama_pkg)/launch/slam_gmapping.launch" /> -->
    <include file="$(find llama_pkg)/launch/move_base.launch" />
    <!-- <include file="$(find rknn_yolov5)/launch/rknn_yolov5.launch" /> -->
    <node
        name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find llama_pkg)/rviz/default.rviz" />
</launch>